{% extends "base.html" %}

{% load i18n %}

{% block title %}Birth Details{% endblock %}
{% block page_title %}Birth Details{% endblock %}
{% block body_content %}



           <div class="container-fluid">
               <div class="row">
                   <div class="col-12">
                       <div class="card">
                           <div class="card-body">
                               <!-- <h4 class="card-title">Birth Details</h4> -->
                               <div class="table-responsive">
                                   <table class="table table-striped table-bordered zero-configuration col-lg-6 m-auto">
                                     <thead>
                                       <tr class="text-center">
                                         <th class="card-title" colspan="2">Birth Details</th>
                                       </tr>
                                     </thead>
                                     <tbody>
                                       <tr>
                                         <th>First Name: </th>
                                         <td>{{ birth_object.first_name }}</td>
                                       </tr>
                                       <tr>
                                         <th>Last Name: </th>
                                         <td>{{ birth_object.last_name }}</td>
                                       </tr>
                                       <tr>
                                         <th>Other Name: </th>
                                         <td>{{ birth_object.other_name }}</td>
                                       </tr>
                                       <tr>
                                         <th>Gender: </th>
                                         <td>{{ birth_object.gender }}</td>
                                       </tr>
                                       <tr>
                                         <th>Weight: </th>
                                         <td>{{ birth_object.weight }}</td>
                                       </tr>
                                       <tr>
                                         <th>Father's Name: </th>
                                         <td>{{ birth_object.father_name }}</td>
                                       </tr>
                                       <tr>
                                         <th>Mother's Name: </th>
                                         <td>{{ birth_object.mother_name }}</td>
                                       </tr>
                                       <tr>
                                         <th>Mobile Phone Number: </th>
                                         <td>{{ birth_object.mobile_number }}</td>
                                       </tr>
                                       <tr>
                                         <th>Email Address: </th>
                                         <td>{{ birth_object.email }}</td>
                                       </tr>
                                       <tr>
                                         <th>Delivery Doctor's Name: </th>
                                         <td>{{ birth_object.doctor_name }}</td>
                                       </tr>
                                       <tr>
                                         <th>Time of Birth: </th>
                                         <td>{{ birth_object.time_of_birth }}</td>
                                       </tr>
                                       <tr>
                                         <th>Date of Birth: </th>
                                         <td>{{ birth_object.date_of_birth }}</td>
                                       </tr>
                                       <tr class="text-center">
                                         <td colspan="2">
                                           <a href="{% url 'birth:birth_certificate' pk=birth_object.pk %}" target="_blank" class="btn mb-1 m-r-3 btn-primary">PRINT CERTIFICATE <span class="btn-icon-right"><i class="fa fa-book"></i></span></a>
                                         </td>
                                       </tr>
                                       {% if not user.is_superuser %}
                                       <tr class="text-center">
                                         <td colspan="2">
                                           <a href="{% url 'birth:birth_update' pk=birth_object.pk %}" class="btn mb-1 m-r-3 btn-warning">Edit <span class="btn-icon-right"><i class="fa fa-pencil"></i></span></a>
                                           <a href="#" class="btn mb-1 btn-danger" data-toggle="modal" data-target=".birth-delete-sm">Delete <span class="btn-icon-right"><i class="fa fa-trash"></i></span></a>
                                           <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button> -->
                                         </td>
                                       </tr>
                                       {% endif %}
                                     </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="modal fade birth-delete-sm" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-sm">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title">Delete {{ birth_object.first_name }} {{ birth_object.last_name }}'s record</h5>
                           <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                           </button>
                       </div>
                       <div class="modal-body"><h4>Are you sure you want to delete {{ birth_object.first_name }} {{ birth_object.last_name }}?</h4></div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <form action="{% url 'birth:birth_delete' pk=birth_object.pk %}" method="post">
                             {% csrf_token %}
                             <button type="submit" class="btn btn-danger">Delete</button>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
{% endblock %}
