<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e4fecb3de2d3455088daefaf098cf456 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e4fecb3de2d3455088daefaf098cf456" ></div>
        
</body>
<script>    
    
            var map_e4fecb3de2d3455088daefaf098cf456 = L.map(
                "map_e4fecb3de2d3455088daefaf098cf456",
                {
                    center: [8.634559, 4.7525483],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_05e42fe0069b43cb85e89078ccff83d0 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e4fecb3de2d3455088daefaf098cf456);
        
    
            var feature_group_f04394be82bb44669790f9cc8196187e = L.featureGroup(
                {}
            ).addTo(map_e4fecb3de2d3455088daefaf098cf456);
        
    
            var circle_marker_6dc56a22646e49e99e87686079dc304a = L.circleMarker(
                [8.414187199999999, 4.1541288],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_b36a665b26644b9192d3e9338448c839 = L.popup({"maxWidth": "100%"});

        
            var i_frame_3d56d9cff1a14ecba46d07b608c17110 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+QXNhPC9oND4KICAgICAgICBCaXJ0aHM6IDAKICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_b36a665b26644b9192d3e9338448c839.setContent(i_frame_3d56d9cff1a14ecba46d07b608c17110);
        

        circle_marker_6dc56a22646e49e99e87686079dc304a.bindPopup(popup_b36a665b26644b9192d3e9338448c839)
        ;

        
    
    
            var circle_marker_2583b079e2244666a494ee5c97f6fd1d = L.circleMarker(
                [9.3710088, 2.7151682],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_839a651aec4149e9a15683557aff3e9b = L.popup({"maxWidth": "100%"});

        
            var i_frame_de957299d7594f27aaf76dc0364529f5 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+QmFydXRlbjwvaDQ+CiAgICAgICAgQmlydGhzOiAwCiAgICAgICAg" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_839a651aec4149e9a15683557aff3e9b.setContent(i_frame_de957299d7594f27aaf76dc0364529f5);
        

        circle_marker_2583b079e2244666a494ee5c97f6fd1d.bindPopup(popup_839a651aec4149e9a15683557aff3e9b)
        ;

        
    
    
            var circle_marker_8ff8ffd84d1b421680a457356642f86e = L.circleMarker(
                [8.8443894, 4.9197744000000005],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_e1e98bff83be4f79b1cf2dbc0bd44edb = L.popup({"maxWidth": "100%"});

        
            var i_frame_710958fe52ef4a008008349eb4c441d2 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+RWR1PC9oND4KICAgICAgICBCaXJ0aHM6IDAKICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_e1e98bff83be4f79b1cf2dbc0bd44edb.setContent(i_frame_710958fe52ef4a008008349eb4c441d2);
        

        circle_marker_8ff8ffd84d1b421680a457356642f86e.bindPopup(popup_e1e98bff83be4f79b1cf2dbc0bd44edb)
        ;

        
    
    
            var circle_marker_647d37a14f2e49c39da93b66cbfc3a53 = L.circleMarker(
                [8.112693400000001, 5.2103039],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_520b289f2acf4118b590aa7875d32207 = L.popup({"maxWidth": "100%"});

        
            var i_frame_0179491328ce48afaeebf1ddc35a8179 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+RWtpdGk8L2g0PgogICAgICAgIEJpcnRoczogMAogICAgICAgIA==" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_520b289f2acf4118b590aa7875d32207.setContent(i_frame_0179491328ce48afaeebf1ddc35a8179);
        

        circle_marker_647d37a14f2e49c39da93b66cbfc3a53.bindPopup(popup_520b289f2acf4118b590aa7875d32207)
        ;

        
    
    
            var circle_marker_3b58189e9ec14de0bd02f52d0a285bd8 = L.circleMarker(
                [8.634559, 4.7525483],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_1b15d18c60394010a848619453019717 = L.popup({"maxWidth": "100%"});

        
            var i_frame_ae397093f7c04eaa8d1d10a7e189cef1 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+SWZlbG9kdW48L2g0PgogICAgICAgIEJpcnRoczogMAogICAgICAgIA==" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_1b15d18c60394010a848619453019717.setContent(i_frame_ae397093f7c04eaa8d1d10a7e189cef1);
        

        circle_marker_3b58189e9ec14de0bd02f52d0a285bd8.bindPopup(popup_1b15d18c60394010a848619453019717)
        ;

        
    
    
            var circle_marker_f674a33cb5db42f28c4a2237d4a22893 = L.circleMarker(
                [8.5916408, 4.6167261],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_17a3dbd7115c475fbd368cdaa5a9572f = L.popup({"maxWidth": "100%"});

        
            var i_frame_230366831aaf4c799ca51c667c57c4ba = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+SWxvcmluIEVhc3Q8L2g0PgogICAgICAgIEJpcnRoczogMAogICAgICAgIA==" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_17a3dbd7115c475fbd368cdaa5a9572f.setContent(i_frame_230366831aaf4c799ca51c667c57c4ba);
        

        circle_marker_f674a33cb5db42f28c4a2237d4a22893.bindPopup(popup_17a3dbd7115c475fbd368cdaa5a9572f)
        ;

        
    
    
            var circle_marker_ae2cb0ecf9f14dd28e6b15c4231baf07 = L.circleMarker(
                [8.4404134, 4.5982463],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_74696259cfe445fcb176104fadd63fa4 = L.popup({"maxWidth": "100%"});

        
            var i_frame_886100812481458992eb9308246d4b27 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+SWxvcmluIFNvdXRoPC9oND4KICAgICAgICBCaXJ0aHM6IDAKICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_74696259cfe445fcb176104fadd63fa4.setContent(i_frame_886100812481458992eb9308246d4b27);
        

        circle_marker_ae2cb0ecf9f14dd28e6b15c4231baf07.bindPopup(popup_74696259cfe445fcb176104fadd63fa4)
        ;

        
    
    
            var circle_marker_d55566368c5a4704b4fbec6f15dae05d = L.circleMarker(
                [8.488294699999999, 4.462491],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_7ade45cfb5754d328531190d01999693 = L.popup({"maxWidth": "100%"});

        
            var i_frame_8f33653915264d3bb151e9fba315bd97 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+SWxvcmluIFdlc3Q8L2g0PgogICAgICAgIEJpcnRoczogMAogICAgICAgIA==" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_7ade45cfb5754d328531190d01999693.setContent(i_frame_8f33653915264d3bb151e9fba315bd97);
        

        circle_marker_d55566368c5a4704b4fbec6f15dae05d.bindPopup(popup_7ade45cfb5754d328531190d01999693)
        ;

        
    
    
            var circle_marker_79842a2d8a1f43d6929557efba17cb88 = L.circleMarker(
                [8.257908, 4.9194132],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_6f91eda0a66e4e0ab3c05af20dc2caa2 = L.popup({"maxWidth": "100%"});

        
            var i_frame_1093bf844e8f49428a77e8576a0cc9b6 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+SXNpbjwvaDQ+CiAgICAgICAgQmlydGhzOiAwCiAgICAgICAg" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_6f91eda0a66e4e0ab3c05af20dc2caa2.setContent(i_frame_1093bf844e8f49428a77e8576a0cc9b6);
        

        circle_marker_79842a2d8a1f43d6929557efba17cb88.bindPopup(popup_6f91eda0a66e4e0ab3c05af20dc2caa2)
        ;

        
    
    
            var circle_marker_71947c79704541c7a16e5c5306a98936 = L.circleMarker(
                [8.194249099999999, 4.8238084],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_ab94982b917e4d69ab154047af9b4f11 = L.popup({"maxWidth": "100%"});

        
            var i_frame_6d3a506e96cf446f9480d8e8358742f0 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+SXJlcG9kdW48L2g0PgogICAgICAgIEJpcnRoczogMAogICAgICAgIA==" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ab94982b917e4d69ab154047af9b4f11.setContent(i_frame_6d3a506e96cf446f9480d8e8358742f0);
        

        circle_marker_71947c79704541c7a16e5c5306a98936.bindPopup(popup_ab94982b917e4d69ab154047af9b4f11)
        ;

        
    
    
            var circle_marker_4b2c95ed3bd0451f80d750d7ec3c572f = L.circleMarker(
                [9.607286, 3.9218983],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_a9b09cf255f64be5a51e9d18bf1b8783 = L.popup({"maxWidth": "100%"});

        
            var i_frame_b7c15a2fa58a49619a4b2cb49ee74b4b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+S2FpYW1hPC9oND4KICAgICAgICBCaXJ0aHM6IDAKICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_a9b09cf255f64be5a51e9d18bf1b8783.setContent(i_frame_b7c15a2fa58a49619a4b2cb49ee74b4b);
        

        circle_marker_4b2c95ed3bd0451f80d750d7ec3c572f.bindPopup(popup_a9b09cf255f64be5a51e9d18bf1b8783)
        ;

        
    
    
            var circle_marker_05fb81a02e9b40d283a15b207e89a913 = L.circleMarker(
                [8.8563905, 4.2643653],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_3a8dba52036b4018a2daafd0ea0acb5c = L.popup({"maxWidth": "100%"});

        
            var i_frame_72c9cebb2ad547a78b441ab4ee16c230 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+TW9ybzwvaDQ+CiAgICAgICAgQmlydGhzOiAwCiAgICAgICAg" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_3a8dba52036b4018a2daafd0ea0acb5c.setContent(i_frame_72c9cebb2ad547a78b441ab4ee16c230);
        

        circle_marker_05fb81a02e9b40d283a15b207e89a913.bindPopup(popup_3a8dba52036b4018a2daafd0ea0acb5c)
        ;

        
    
    
            var circle_marker_a55f7d31a7f24b5eb513facefeedc6fe = L.circleMarker(
                [8.1499364, 4.6780292999999995],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_1bd8d9e22c9c4aa4936510178fd15a68 = L.popup({"maxWidth": "100%"});

        
            var i_frame_c1ca5113f5cf404a8154ee0093985776 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+T2ZmYTwvaDQ+CiAgICAgICAgQmlydGhzOiAwCiAgICAgICAg" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_1bd8d9e22c9c4aa4936510178fd15a68.setContent(i_frame_c1ca5113f5cf404a8154ee0093985776);
        

        circle_marker_a55f7d31a7f24b5eb513facefeedc6fe.bindPopup(popup_1bd8d9e22c9c4aa4936510178fd15a68)
        ;

        
    
    
            var circle_marker_2d82b2644f16418fb7be2c3fb2182c8a = L.circleMarker(
                [8.1796551, 5.1153793],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_4b13933427394785b7367457354d79cd = L.popup({"maxWidth": "100%"});

        
            var i_frame_f0f55c6bef6a4c93af452550cf26ff10 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+T2tlIEVybzwvaDQ+CiAgICAgICAgQmlydGhzOiAwCiAgICAgICAg" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_4b13933427394785b7367457354d79cd.setContent(i_frame_f0f55c6bef6a4c93af452550cf26ff10);
        

        circle_marker_2d82b2644f16418fb7be2c3fb2182c8a.bindPopup(popup_4b13933427394785b7367457354d79cd)
        ;

        
    
    
            var circle_marker_5f691f38c09d471481139e543d748eef = L.circleMarker(
                [8.200461200000001, 4.5062674000000005],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_baf1e0f7999c422ab3a2bf21546899d6 = L.popup({"maxWidth": "100%"});

        
            var i_frame_bf5194e051284d74b544badad05a469a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+T3l1bjwvaDQ+CiAgICAgICAgQmlydGhzOiAwCiAgICAgICAg" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_baf1e0f7999c422ab3a2bf21546899d6.setContent(i_frame_bf5194e051284d74b544badad05a469a);
        

        circle_marker_5f691f38c09d471481139e543d748eef.bindPopup(popup_baf1e0f7999c422ab3a2bf21546899d6)
        ;

        
    
    
            var circle_marker_64b2624362b64f598f57178c4158f963 = L.circleMarker(
                [8.722074099999999, 5.739946],
                {"bubblingMouseEvents": true, "color": "grey", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_f04394be82bb44669790f9cc8196187e);
        
    
        var popup_669cc52009c849969f455050b524e358 = L.popup({"maxWidth": "100%"});

        
            var i_frame_9207bae3e9004426a1ce490572b23895 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8aDQ+UGF0ZWdpPC9oND4KICAgICAgICBCaXJ0aHM6IDAKICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
            popup_669cc52009c849969f455050b524e358.setContent(i_frame_9207bae3e9004426a1ce490572b23895);
        

        circle_marker_64b2624362b64f598f57178c4158f963.bindPopup(popup_669cc52009c849969f455050b524e358)
        ;

        
    
    
            var layer_control_d9942c079f8f4340b3fd183f7de899e2 = {
                base_layers : {
                    "stamenterrain" : tile_layer_05e42fe0069b43cb85e89078ccff83d0,
                },
                overlays :  {
                    "Births" : feature_group_f04394be82bb44669790f9cc8196187e,
                },
            };
            L.control.layers(
                layer_control_d9942c079f8f4340b3fd183f7de899e2.base_layers,
                layer_control_d9942c079f8f4340b3fd183f7de899e2.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_e4fecb3de2d3455088daefaf098cf456);
        
</script>